/* Hero Styling */
.hero-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;

    text-align: center;
    line-height: 7rem;
    font-family: var(--font-family);
}

.hero-container h1 {
    font-weight: 700;
    font-size: 8rem;
    color: var(--color-grey);
    text-shadow: 2px 2px var(--color-orange);
}

.hero-container p {
    font-weight: 200;
    font-size: 2.5rem;
    color: var(--color-grey);
}

/* Adjusts line-height and font-size for smaller resolutions */
@media screen and (max-width: 960px) {
    .hero-container {
        line-height: 6rem;
    }
    
    .hero-container h1 {
        font-size: 6rem;
    }

    .hero-container p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 770px) {
    .hero-container {
        line-height: 5rem;
        margin-top: -6rem;
    }
    
    .hero-container h1 {
        font-size: 5rem;
    }

    .hero-container p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 560px) {
    .hero-container h1 {
        font-size: 4rem;
        margin-top: -7rem;
    }

    .hero-container p {
        font-size: 1.5rem;
        line-height: 1;
    }
}