/* Loading Screen Styling */
.load-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.load-container img {
    position: absolute;
}

.load-text {
    font-family: var(--font-family);
    color: var(--color-orange);
    font-weight: 400;
    font-size: 54px;
    margin-top: 1rem;
}

/* Fade Out Animation */
.fade-out {
    animation: fadeOut 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}