/* Weights: 200, 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;400;700&display=swap');

:root {
    --font-family: 'Anek Latin', sans-serif;

    --gradient-text: linear-gradient(180deg, #d76733 70%, #252323 100%);

    --color-orange: #d76733;
    --color-black: #252323;
    --color-grey: #dad6d6;
}